#archive-switch {
    display: flex;
    margin: 8px;
}

#archive-switch >.field-row {
    margin: 0 4px;
}

body {
    margin: 8px;
    background: #55aaaa;
}

#buttons {
	display: grid;
	gap: 16px;
	grid-template-columns: repeat( auto-fit, minmax(100px, 1fr) );
    padding: 16px;
}

.container-88x11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    word-break: break-all;
}

#search {
    width: 50ch;
    margin: 0 8px;
}

.search-panel {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.status-bar {
    margin: 8px;
}

.status-bar .status-bar-field {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 4px 8px;
}

.text-center {
    text-align: center;
}

.title-bar-text {
    display: flex;
    align-items: center;
}